.card-container {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    border-width: 2px;
    color: black;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    width: 90%;
}

.card-container:hover {
    background-color: #e8e8e8;
}

.card-container > img {
    display: flex;
    margin: auto;
    width: 100%;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    justify-content: space-between; 
    margin-left: 200px;
    padding: 1px 16px;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
 
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*media query for card containers*/
/*make sure to do media queries for each screen. remember typography and stuff*/
@media screen and (max-width: 1120px) {
    .flex-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 975px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .flex-container {
        margin-left: 0;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 575px) {
    .card-container {
        width: 100%;
    }
    .flex-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}