.card-container {
    align-items: stretch;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    border-width: 2px;
    color: #003642;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.card-container:hover {
    background-color: #e8e8e8;
}

.card-container img {
    display: flex;
    margin: auto;
    width: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    line-height: 1.5rem;
}

.card-text h2, h3 {
    margin: 0px;
    padding: 0px;
}

.filter-button {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 0px;
    flex-wrap: wrap; 
}

.filter-button form button {
    padding: 10px 20px;
    background-color: #003642;
    border: 5px solid #003642;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.filter-button form button:hover {
    background-color: white;
    border: 5px solid #003642;
    color: #003642;
}


.flex-container {
    align-items: stretch;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    justify-content: space-between; 
    margin-left: 200px;
    padding: 1px 16px;
}

.flex-container a {
    text-decoration: none;
}



.search-form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 3px solid var(--dark-orange);
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    outline: none;
    border-right: none;
}

.sidebar {
    background-color: #f1f1f1;
    border-right: 2px outset black;
    border-radius: 2px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    width: 200px;
}

.sidebar a, h2, h3, .filter-button {
    display: block;
    color: #003642;
    padding: 16px;
    /*text-decoration: none;*/
}

/*media query for card containers*/
/*make sure to do media queries for each screen. remember typography and stuff*/
@media screen and (max-width: 1120px) {
    .flex-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 975px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .flex-container {
        margin-left: 0;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 575px) {
    .card-container {
        width: 100%;
    }
    .flex-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}