body {
    line-height: 2rem;
}

.content {
    margin: 20px 250px;
}

.content img {
    display: block;
    margin: auto;
    width: 425px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    text-align: left;
}

.two-column img {
    align-items: right;
    margin-right: 0px;
}

.two-column .column {
    margin: 20px;
    width: 100%;
}

@media screen and (max-width: 1075px) {
    .content img {
        display: block;
        margin: auto;
        width: 50%;
    }
}
@media screen and (max-width: 850px) {
    .two-column {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        text-align: left;
    }
    .two-column img {
        margin: auto;
    }
}
@media screen and (max-width: 648px) {
    .two-column img {
        margin: auto;
    }
}