@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
  }

@font-face {
    font-family: Source Sans; /*Source Sans 3*/
    src: url(../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
  }

* {
    box-sizing: border-box;
  }

:root{
	--rhythm: 1.5rem;
}

body {
    font-family: Source Sans;
}

h1, h2, h3 {
    font-family: Merriweather;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color: yellow;
}

p, li {
    font-size: 18px;
}

.content {
    margin: 40px;
}

.center-text {
    text-align: center;
}

h1.page-title {
    text-align: center;
}

.title-container {
    background-color: #18746d;
    color: white;
    padding: 1px 16px; /*padding: 20px;*/
    text-align: left;
}